.header {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  align-items: center;
  height: 40px;
  padding: 0 20px;
  border-bottom: 1px solid grey;
}
.title {
  color: #2c2c3b;
}
