.contailer {
  padding-top: 20px;
  height: 100vh;
}
.title {
  text-align: center;
}
.form_thumb {
  position: relative;
  width: 440px;
  height: fit-content;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
  background-image: var(--container_gradient), url("/public/image_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: var(--box_shadow);
}
.form_label {
  font-size: 20px;
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
}
.form_input {
  border-radius: 6px;
  padding: 4px 8px 4px 8px;
  height: 24px;
  font-size: 16px;
  color: var(--dark_navy, #0a0d17);
  background-color: var(--input_color, #aaa3bd9d);
  border: solid 2px;
  border-color: var(--input_color, #aaa3bd9d);
  outline: none;
  transition: border-color 250ms linear;
}
.form_input::placeholder {
  color: var(--dark_navy, #0a0d17);
  opacity: 0.7;
}
.form_input:is(:hover, :focus) {
  border-color: var(--active_color, #3a98ff);
}
