.contailer {
  padding-top: 20px;
  height: 100vh;
  background: linear-gradient(
    183deg,
    rgba(199, 207, 236, 0.06557005126269255) 27%,
    rgba(87, 87, 147, 0.7238333565848214) 100%
  );
}
.title {
  text-align: center;
  color: #2c2c3b;
}
.form_thumb {
  width: 440px;
  height: fit-content;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f0ffff;
  box-shadow: -2px 16px 37px -12px #000000bf;
}
.form_label {
  font-size: 20px;
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
}
.form_input {
  height: 24px;
  font-size: 16px;
}
.form_btn {
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 6px;
  background-color: #aee8ee;
  cursor: pointer;
  box-shadow: -2px 16px 37px -12px #000000bf;
  transition: color 250ms linear, background-color 250ms linear;
}
.form_btn:is(:hover, :focus) {
  color: #f0ffff;
  background-color: #5151e6;
}
