.contacts_container {
  padding: 20px;
  height: 100vh;
}
.contacts_title {
  /* margin-top: 20px; */
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: var(--main_text_color, #c0d0e1);
}
.add_link {
  display: block;
  float: right;
  text-decoration: none;
}
.arrow_up {
  display: block;
  width: 32px;
  height: 32px;
  margin: 24px auto;
  color: var(--main_text_color, #c0d0e1);
  transition: color 300ms linear;
}
.arrow_up:is(:hover, :focus) {
  color: #ba44fa;
}

@media screen and (min-width: 768px) {
  .contacts_title {
    font-size: 32px;
    margin-top: 20px;
  }
  .arrow_up {
    width: 36px;
    height: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .arrow_up {
    width: 40px;
    height: 40px;
  }
}
