.contacts_container {
  padding: 20px;
  height: 100vh;
  background: linear-gradient(
    183deg,
    rgba(199, 207, 236, 0.06557005126269255) 27%,
    rgba(87, 87, 147, 0.7238333565848214) 100%
  );
}
.contacts_title {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.add_link {
  text-decoration: none;
}
.add_btn {
  font-size: 16px;
  padding: 6px 12px;
  display: block;
  margin-left: auto;
  border-radius: 6px;
  background-color: #aee8ee;
  box-shadow: -2px 16px 37px -12px #000000bf;
  cursor: pointer;
  transition: color 250ms linear, background-color 250ms linear;
}
.add_btn:is(:hover, :focus) {
  color: #f0ffff;
  background-color: #5151e6;
}
.add_btn:is(:hover, :focus) .add_link {
  color: #f0ffff;
}
