.filter_form {
  display: flex;
  margin-bottom: 20px;
}
.filter_label {
  display: flex;
  margin: 0 auto;
  align-items: center;
  font-size: 20px;
  display: flex;
  gap: 16px;
}
.filter_input {
  width: 220px;
  height: 24px;
  font-size: 18px;
  border-radius: 6px;
  padding: 4px 8px 4px 8px;
  color: var(--dark_navy, #0a0d17);
  background-color: var(--input_color, #aaa3bd9d);
  border: solid 2px;
  border-color: var(--input_color, #aaa3bd9d);
  outline: none;
  transition: border-color 250ms linear;
}
.filter_input::placeholder {
  color: var(--dark_navy, #0a0d17);
  opacity: 0.7;
}
.filter_input:is(:hover, :focus) {
  border-color: var(--active_color, #3a98ff);
}

@media screen and (min-width: 768px) {
  .filter_input {
    width: 280px;
  }
}

@media screen and (min-width: 1280px) {
  .filter_input {
    width: 320px;
  }
}
