.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo_box {
  object-position: center;
}
.logo {
  display: block;
  width: 32px;
  height: 32px;
}
.link {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: var(--main_text_color) #c0d0e1;
}
