.close_button {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--btn_bgd, #9ca2fb);
  transition: background-color 300ms linear;
}
.close_button:is(:hover, :focus) {
  background-color: var(--btn_hover_bgd, #2a27e7);
}
.cross {
  color: var(--dark_navy, #0a0d17);
  min-width: 18px;
  height: 18px;
  transition: color 300ms linear;
}
.cross:is(:hover, :focus) {
  color: var(--btn_hover_color, #f0ffff);
}

@media screen and (min-width: 768px) {
  .close_button {
    top: 20px;
    right: 20px;
    width: 28px;
    height: 28px;
  }
  .cross {
    min-width: 22px;
    height: 22px;
  }
}
