/* @import-normalize;  */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c0d0e1;
}

code {
  font-family: "Roboto", sans-serif;
  color: #2c2c3b;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.active {
  color: crimson;
}
