.cont_list {
  width: 600px;
  margin: 0 auto;
  list-style: none;
  font-size: 20px;
  padding-left: 0;
}
.cont_item {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  height: 46px;
}
.contact_row {
  display: flex;
  align-items: center;
  gap: 4px;
}
.cont_btn {
  height: fit-content;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 6px;
  background-color: var(--btn_bgd, #aee8ee);
  cursor: pointer;
  box-shadow: var(--box_shadow);
  transition: color 250ms linear, background-color 250ms linear;
}
.cont_btn:is(:hover, :focus) {
  color: var(--btn_hover_color, #f0ffff);
  background-color: var(--btn_hover_bgd, #2a27e7);
}
.cont_btns {
  display: flex;
  gap: 10px;
}
