.cont_list {
  width: 600px;
  margin: 0 auto;
  list-style: none;
  font-size: 20px;
  padding-left: 0;
}
.cont_item {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  height: 46px;
}
.contact_row {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #d1ddea;
}
.contact_data {
  display: grid;
  grid-template-columns: minmax(160px, max-content) 200px;
  justify-content: space-between;
}
.contact_buttons {
  display: flex;
  gap: 12px;
}
